
<%= link_to 'My Blog', articles_path, :class => 'btn btn-success' %>
<br>
<p>
    <strong>Title</strong>
    <%= @article.title%>
</p>
<p>
    <strong>Body</strong>
    <%= @article.body%>
</p>

<hr>

<% @article.feedbacks.each do |feedback|%>

<p>
    <strong>Username:</strong>
    <%= feedback.username %>
</p>
    <strong>Feedback:</strong>
    <%= feedback.body %>

    <%= link_to 'Delete', [feedback.article,feedback],
    method: :delete, data:{confirm: 'Do You Want To Delete This Feedback ?'},
    :class => 'btn btn-danger'
 %>
</p>

<% end %>

<%= render 'feedbacks/create'%>

<%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-warning' %>